:root {
    --primary-color: #F24771;
    --main-color: #606060;
    --custom-color1: #fff;
    --custom-color2: #000;
    --primary-font: "Inter", sans-serif;
    --secondry-font: "Helvetica";
    --custom-color: #F3F3F3;
}

@font-face {
    font-family: var(--secondry-font);
    src: url("../font/helvetica/Helvetica.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: var(--secondry-font);
    src: url("../font/helvetica/Helvetica-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: var(--secondry-font);
    src: url("../font/helvetica/helvetica-light.ttf") format("truetype");
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}


/* Common Css */

a {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: var(--main-color);
    background-color: var(--custom-color1);
}

h1,
#animated-text {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 160px;
    line-height: 170px;
    margin-bottom: 0px;
    color: var(--custom-color1);
}

h2 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

h3 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

p {
    font-family: var(--secondry-font);
    font-size: 22px;
    line-height: 32px;
    color: var(--main-color);
    font-weight: 400;
    margin-bottom: 0px;
}

.container {
    max-width: 91%;
    padding-inline: 15px;
}

.pblock-100 {
    padding-block: 100px;
}

.pblock-150 {
    padding-block: 150px;
}

.margin-200 {
    margin-bottom: 200px;
}


/* Header Css Start */
header {
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}

button#collapse-btn-nav {
    display: none;
}

.navbar-collapse {
    display: flex !important;
    flex-basis: initial;
}

header.hide {
    transform: translateY(-100%);
    background-color: #00000091;
}

header.show {
    transform: translateY(0);
    background-color: #00000091;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    height: 51px;
}

header nav.navbar {
    padding-block: 24px;
}

.nav-link {
    padding: 12px 16px !important;
    color: var(--custom-color1);
    text-transform: capitalize;
    position: relative;
    font-weight: 500;
    font-size: 22px;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link.active {
    color: var(--custom-color1) !important;
}

.nav-link.active::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--custom-color1);
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

header ul.navbar-nav {
    gap: 0px 54px;
    flex-direction: row;
}


/* Banner-wrapper Css Start */
.banner-wrapper {
    height: 100vh;
    position: relative;
    z-index: 99;
}

.banner-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    background-color: #00000091;
}

.banner-heading {
    position: relative;
    z-index: 99;
}

.banner-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.banner-wrapper h1 span {
    font-weight: 300 !important;
    font-size: 60px;
    line-height: 70px;
}

#animated-text {
    font-weight: 800 !important;
}

.scroll-indicator {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) !important;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    z-index: 99;
    opacity: 1 !important;
}

.mouse {
    width: 30px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 0 auto 10px;
    position: relative;
}

.wheel {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: wheel-move 1.5s infinite;
}

@keyframes wheel-move {
    0% {
        top: 10px;
        opacity: 1;
    }

    50% {
        top: 25px;
        opacity: 0.5;
    }

    100% {
        top: 10px;
        opacity: 1;
    }
}

/* Second section for scroll demo */
.content {
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

/* Banner-wrapper Css End */


/* about-wrapper Css Start */

.section-heading h2,
.section-heading h3 {
    text-transform: uppercase;
}

.section-heading p span {
    font-weight: 600;
}

.about-wrapper .container>.row {
    gap: 50px 0px;
}

/* about-wrapper Css End */

/* service-wrapper Css Start  */
.service-slider-box {
    position: relative;
    z-index: 9;
    overflow: hidden;
}


.service-slider-box::before {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 9;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.service-slider-box:hover .service-slider-image img {
    transform: scale(1.1);
}

.service-slider-image img {
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.service-wrapper .slick-list.draggable {
    padding-right: 10% !important;
}

.service-cover .slick-track,
.testimonial-row .slick-track {
    margin-inline: -20px;
}

.service-cover .slick-track .service-slider-col,
.testimonial-row .testimonial-col {
    padding-inline: 20px;
}

.service-slider-image-content {
    position: absolute;
    bottom: 37px;
    left: 0px;
    background-color: transparent;
    width: 100%;
    padding-inline: 40px;
    z-index: 99;
}

.service-slider-image-content p {
    font-family: var(--primary-font);
    color: var(--custom-color1);
    font-size: 26px;
}

.service-cover,
.testimonial-cover-box {
    position: relative;
    padding-bottom: 112px;
}

.service-cover .service-cover-slider,
.testimonial-cover-box .testimonial-row.slick-initialized.slick-slider {
    position: static;
}

.service-cover .service-cover-slider button.slick-arrow,
.testimonial-cover-box button.slick-arrow {
    width: 66px;
    height: 66px;
    background: #606060;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 9;
    bottom: 0px;
    transform: translate(0%, 0%);
    top: initial;
    left: 47%;
    background-image: url(../images/arrow.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 43px 20px;
    transition: background-color 0.4s ease-in-out;
}

.service-cover .service-cover-slider button.slick-arrow:hover,
.testimonial-cover-box button.slick-arrow:hover {
    background-color: var(--primary-color);
}

.service-cover .service-cover-slider button.slick-arrow::before,
.testimonial-cover-box button.slick-arrow::before {
    content: "";
    display: none;
}

.service-cover .service-cover-slider button.slick-next.slick-arrow,
.testimonial-cover-box button.slick-next.slick-arrow {
    left: initial;
    right: 43%;
    background-image: url(../images/arrow-right.png);
    transform: translate(0%, 0%);
}

/* service-wrapper Css End  */

/* whyus-wrapper Css Start */

.whyus-wrapper>.container>.row {
    gap: 60px 0px;
}

.whyus-path svg {
    width: 100%;
}

.whyus-row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -60px;
}

.whyus-col {
    width: 20%;
    flex: 0 0 auto;
    padding-inline: 60px;
    position: relative;
}

.whyus-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0px 0px;
    position: relative;
}

.whyus-row .whyus-col:nth-child(2n+1) .whyus-box .whyus-box-content {
    order: -1;
}

.whyus-cover {
    position: relative;
    z-index: 9;
}

.whyus-box:hover .whyus-box-icon img {
    transform: scale(1.1);
}

.whyus-path {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.whyus-heading {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 5px;
    color: var(--main-color);
}

.whyus-para {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-weight: 400;
    line-height: 22px;
    font-size: 16px;
}

.whyus-col:first-child::before,
.whyus-col:last-child::after,
.whyus-col:first-child .whyus-box::before {
    display: none;
}

.whyus-box::before {
    content: "";
    width: 1px;
    height: 0%;
    background-color: #606060;
    display: inline-block;
    position: absolute;
    bottom: 18%;
    left: -12%;
    z-index: -1;
}

.whyus-col::before {
    content: "";
    /* width: 50%; */
    width: 0%;
    height: 1px;
    display: inline-block;
    background-color: #606060;
    position: absolute;
    bottom: 55px;
    left: 0px;
    z-index: -1;
}

.whyus-col:nth-child(2n)::after {
    bottom: initial;
    top: 51px;
    /* right: -30px; */
    right: 0%;
    z-index: -1;
}

.whyus-col:nth-child(2n)::before {
    bottom: initial;
    top: 47px;
    left: 30px;
    z-index: -1;
}

.whyus-col::after {
    content: "";
    width: 0%;
    height: 1px;
    display: inline-block;
    background-color: #606060;
    position: absolute;
    bottom: 17.9%;
    right: 0%;
    z-index: -1;
}

.whyus-box-icon {
    height: 106px;
}

.whyus-box-content {
    height: 200px;
}

.whyus-col:nth-child(3) .whyus-box::before {
    bottom: 0%;
    height: 0%;
    z-index: -1;
    opacity: 0;
    left: -13%;
}

.whyus-col:nth-child(3)::before {
    /* width: 50%; */
    width: 0%;
    left: 8%;
    z-index: -1;
}

/* Add animation keyframes */
@keyframes lineGrowX {
    from {
        width: 0;
    }

    to {
        width: 50%;
    }
}

@keyframes lineplaceX {
    from {
        right: 0;
        width: 0;
        opacity: 0;
    }

    to {
        right: -8.3%;
        width: 50%;
        opacity: 1;
    }
}

@keyframes lineGrowY {
    from {
        height: 0;
    }

    to {
        height: 66%;
    }
}

@keyframes lineGrowPlaceY {
    from {
        height: 0;
        bottom: 0;
        opacity: 0;
    }

    to {
        height: 65%;
        bottom: 18%;
        opacity: 1;
    }
}

/* Horizontal lines animate */


/* Form First Box */
.whyus-col:nth-child(1)::after {
    animation-delay: 0.5s !important;
    animation: lineplaceX 1s ease forwards;
}

.whyus-col:nth-child(2) .whyus-box::before {
    animation-delay: 1s !important;
    animation: lineGrowY 1s ease forwards;
}

/* For Second Box */
.whyus-col:nth-child(2)::before {
    animation-delay: 1.5s !important;
    animation: lineGrowX 3s ease forwards;
}

.whyus-col:nth-child(2)::after {
    animation-delay: 2s !important;
    animation: lineplaceX 1s ease forwards;
}

.whyus-col:nth-child(3) .whyus-box::before {
    animation-delay: 2.5s !important;
    animation: lineGrowPlaceY 1s ease forwards;
}

/* Third Box */

.whyus-col:nth-child(3)::before {
    animation-delay: 3s !important;
    animation: lineGrowX 1s ease forwards;
}

.whyus-col:nth-child(3n)::after {
    animation-delay: 3.5s !important;
    animation: lineplaceX 1s ease forwards;
}

.whyus-col:nth-child(4) .whyus-box::before {
    animation-delay: 4s !important;
    animation: lineGrowY 1s ease forwards;
}


/* Fourth Box */
.whyus-col:nth-child(4)::before {
    animation-delay: 4.5s !important;
    animation: lineGrowX 1s ease forwards;
}

.whyus-col:nth-child(4)::after {
    animation-delay: 5s !important;
    animation: lineplaceX 1s ease forwards;
}

.whyus-col:nth-child(5)::before {
    animation-delay: 6s !important;
    animation: lineGrowX 1s ease forwards;
}

.whyus-col:last-child .whyus-box::before {
    animation-delay: 5.5s !important;
    animation: lineGrowY 1s ease forwards;
}

.whyus-col:nth-child(4) .whyus-box::before {
    bottom: 55px;
    /* height: 66%; */
    height: 0;
    z-index: -1;
}

.whyus-col::before {
    left: 30px;
    z-index: -1;
}

.whyus-col:nth-child(2n+1) .whyus-para span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFBA41;
    display: inline-block;
}

.whyus-col:nth-child(2n+1) .whyus-para {
    display: flex;
    flex-direction: column;
    gap: 35px 0px;
    position: relative;
}

.whyus-col:nth-child(2n+1) .whyus-para span::before {
    content: "";
    display: inline-block;
    height: 43px;
    width: 1px;
    position: absolute;
    bottom: 0px;
    border: 1px dotted #606060;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.whyus-col:nth-child(2n) .whyus-heading span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1A8156;
    order: -1;
}

.whyus-col:nth-child(2n) .whyus-heading {
    flex-direction: column;
    padding-top: 43px;
    gap: 5px 0px;
    position: relative;
}

.whyus-col:nth-child(2n) .whyus-heading span::before {
    content: "";
    display: inline-block;
    height: 43px;
    width: 1px;
    position: absolute;
    top: 0px;
    border: 1px dotted #606060;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.whyus-col:last-child .whyus-box::before {
    /* height: 65%; */
    height: 0%;
    bottom: 18%;
}

.whyus-col:nth-child(3) .whyus-para span {
    background: #F47B6A !important;
}

.whyus-col:nth-child(4) .whyus-heading span {
    background: #FE61A4 !important;
}

.whyus-col:last-child .whyus-para span {
    background: #F47B6A !important;
}

/* whyus-wrapper Css End */

/* work-wrapper Css start */
.work-wrapper>.container>.row {
    gap: 95px 0px;
}

.work-row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -15px;
}

.cover-col {
    width: 25%;
    flex: 0 0 auto;
    padding-inline: 15px;
    position: relative;
    z-index: 9;
}

.cover-col::before {
    content: "";
    width: 70%;
    height: 2px;
    background-color: #606060;
    display: inline-block;
    transform: rotate(35deg) translate(-26%, -35%);
    position: absolute;
    top: 58%;
    left: 74%;
    z-index: -1;
}

.cover-col:nth-child(2n)::before {
    transform: rotate(-30deg) translate(-100%, 39%);
    top: 17%;
    left: initial;
    right: -92%;
}

.cover-col:nth-child(2n)::after {
    top: 30.5%;
    transform: rotate(-80deg) translate(-67.67%, 10px);
    left: inherit;
    right: -24%;
}

.cover-col:last-child::before,
.cover-col:last-child::after {
    display: none;
}



.cover-col::after {
    content: '';
    position: absolute;
    top: 67%;
    border: solid #606060;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 7px;
    transform: translate(-33%, -80%) rotate(-12deg);
    left: 120%;
}

span.cover-icon {
    width: 138px;
    height: 138px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    background-color: var(--primary-color);
}

span.cover-icon i {
    font-size: 77px;
}

.cover-box-icon {
    width: 172px;
    height: 172px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #414042;
    border-radius: 50%;
    position: relative;
    z-index: 9;
    background-color: var(--custom-color);
}

.cover-box-icon::before {
    content: "";
    width: 117%;
    height: 117%;
    border-radius: 50%;
    display: inline-block;
    border: 2px dotted #414042;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateCircle 6s linear infinite;
}

@keyframes rotateCircle {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.cover-box {
    display: flex;
    flex-direction: column;
    gap: 50px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cover-box:hover span.cover-icon i {
    transform: scale(1.1);
}

.cover-col:nth-child(2n) .cover-box .cover-box-content {
    order: -1;
}

.cover-box-content h3 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 9px;
    line-height: 31px;
}

.cover-box-content p {
    font-size: 18px;
    line-height: 25px;
}

/* work-wrapper Css End */

/* client-wrapper css Start */
.client-wrapper .container>.row {
    gap: 50px 0px;
}

.client-cover ul {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -35px;
    gap: 50px 0px;
    justify-content: center;
}

.client-cover ul li {
    width: 20%;
    flex: 0 0 auto;
    padding-inline: 35px;
}

.client-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-image {
    height: 71px;
}

/* client-wrapper css End */

/* brand-wrapper css start */
.custom-btn {
    font-family: var(--secondry-font);
    font-weight: 400;
    font-size: 20px;
    color: var(--custom-color1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--primary-color);
}

.brand-wrapper .custom-btn {
    margin-top: 40px;
}

.brand-wrap-image {
    position: absolute;
    bottom: 0px;
    right: 6%;
    width: 50%;
}

/* brand-wrapper css End */

/* testimonial-wrapper Start */
.testimonial-wrapper .row {
    gap: 50px 0px;
}

.testimonial-box {
    background-color: #F3F3F3;
    padding: 33px 38px;
}

.testimonial-profile-image {
    width: 109px;
    height: 109px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 21px;
}

.testimonial-profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.testimonial-profile-content h4 {
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.testimonial-profile-content p {
    font-family: var(--secondry-font);
    font-weight: 400;
    font-size: 18px;
}

.testimonial-profile-content {
    margin-bottom: 54px;
}

.testimonial-content {
    margin-bottom: 50px;
}

.testimonial-content p {
    position: relative;
    padding-inline: 35px;
}

.testimonial-content p::before,
.testimonial-content p::after {
    content: "\f10d";
    width: 34px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    font-size: 36px;
}

.testimonial-content p::after {
    content: "\f10e";
    right: 0px;
    left: initial !important;
    top: initial !important;
    bottom: 0px;
}

/* testimonial-wrapper End */

/* footer Start */
footer {
    background-color: var(--custom-color2);
}

.top-footer {
    padding-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--custom-color1);
}

.top-footer .row {
    margin-inline: -90px;
}

.top-footer .row .col-12 {
    padding-inline: 90px;
}

.footet-logo {
    display: inline-block;
    margin-bottom: 30px;
}

.footet-logo img {
    height: 51px;
}

.footer-logo-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--custom-color1);
}

.footet-link-list {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -40px;
}

.footet-link-list ul {
    width: 50%;
    flex: 0 0 auto;
    padding-inline: 40px;
}

.footet-link-list ul li+li {
    margin-top: 20px;
}

.footer-link {
    font-family: var(--secondry-font);
    font-weight: 400;
    font-size: 22px;
    color: var(--custom-color1);
    text-transform: capitalize;
}

.footer-contact-list ul li+li {
    margin-top: 20px;
}

.footer-link:hover,
.footer-content:hover {
    color: var(--primary-color);
}

.footer-content {
    display: inline-flex;
    align-items: center;
    gap: 0px 35px;
    color: var(--custom-color1);
    font-weight: 400;
    font-size: 22px;
}

.bottom-footer {
    padding-block: 20px;
}

.bottom-footer p {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--custom-color1);
}